html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

.logo {
  background-color: black;
  display: flex;
}

.logo h1 {
  color: white;
  margin-top: 2%;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

.logo img {
  margin: 1% 0.5% 1% 15%;
  width:auto;
  height: 1.5rem;
}

.main-banner {
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 25rem;
}

.banner-text {
  position: relative;
  top: 9rem;
  left: 12rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
  margin-left: 3rem;
}

.banner-text h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.banner-text h3 {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin-top: 2rem;
}

nav {
  background-color: firebrick;
  padding: 1.5%;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

.links span {
  margin-right: 10%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 5%;
}

.images img {
  width: 15rem;
  height: 15rem;
  border: 3px solid black;
  margin-right: 2rem;
  padding:1.5rem;
}

.pen-text,
.watch-text,
.glasses-text {
  background-color: black;
  padding: 2.5rem;
  width: 13.35rem;
  margin-top: -1rem;
  text-align: center;
}

.pen span,
.watch span,
.glasses span {
  color: white;
}

.container {
  display: flex;
}

.container-location,
.container-hours {
  padding: 5%;
  margin-left: 11%;
}

.location-block,
.hours-block {
  background-color: black;
  color: white;
  padding: 1.5rem;
  width: 15rem;
  margin-bottom: 2rem;
}


footer {
  width: auto;
  height: 5rem;
  background-color: black;
  padding: 5%;
}

footer span {
  color: white;
  text-align: left
}
